version: "3.8"

services:
  messagebroker:
    image: rabbitmq:management
    hostname: ecommerce-mq

  basketdb:
    image: postgres:15

  orderdb:
    image: postgres:15

  authdb:
    image: postgres:15

  redis:
    image: redis:7-alpine

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.2  

  kibana:
     image: docker.elastic.co/kibana/kibana:8.13.2

  consul:
    image: hashicorp/consul
    command: agent -server -bootstrap-expect=1 -ui -client=0.0.0.0 -node=consul

  authAPI:
    build:
      context: .                                      
      dockerfile: Services/Ecommerce.Authentication/Authentication.API/Dockerfile
    image: authentication.api 

  productAPI:
    build:
      context: .
      dockerfile: Services/Ecommerce.Production/Production.API/Dockerfile
    image: product.api

  cartAPI:
    build:
      context: .
      dockerfile: Services/Ecommerce.Cart/Cart.API/Dockerfile  
    image: cart.api

  orderAPI:
    build:
      context: .
      dockerfile: Services/Ecommerce.Order/Order.API/Dockerfile
    image: order.api

  apigateway:
    build:
      context: .
      dockerfile: Gateways/APIGateway/Dockerfile
    image: api.gateway

  emailAPI:
    build:
      context: .
      dockerfile: Services/Ecommerce.Email/Email.API/Dockerfile
    image: email.api

  notificationAPI:
    build:
      context: .
      dockerfile: Services/Ecommerce.Notification/Notification.API/Dockerfile
    image: notification.api    

volumes:
  postgres_basket:
  postgres_order:
  postgres_auth:
  redis_data:
  es_data:
